@page "/pizzas"
@using tartine.Data

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<h1>Choose your pizza</h1>

<p>We have all these delicious recipes:</p>



<table>
 <thead>
  <tr>
   <th>Pizza Name</th>
   <th>Description</th>
  </tr>
 </thead>
 <tbody>
 @if (todaysPizzas == null)
 {
     <p>We're finding out what pizzas are available today...</p>
 }
 else
 {
     @foreach (var pizza in todaysPizzas)
     {
         <tr>
             <td>@pizza.Name</td>
             <td>@pizza.Description</td>
         </tr>
     }
 }
 
 </tbody>
</table>

@code
{
    private PizzaSpecial[] todaysPizzas;
     
    
    protected override async Task OnInitializedAsync()
    {
     todaysPizzas = await HttpClient.GetFromJsonAsync<PizzaSpecial[]>(NavigationManager.BaseUri + "specials");
    }

}
